<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
登陆账号：<span sec:authentication="name"> </span><br/>
登陆账号：<span sec:authentication="principal.username"> </span><br/>
凭证：<span sec:authentication="credentials"> </span><br/>
权限和角色：<span sec:authentication="authorities"> </span><br/>
客户端地址：<span sec:authentication="details.remoteAddress"> </span><br/>
sessionId：<span sec:authentication="details.sessionId"> </span><br/>
</body>
</html>